module {{.Module}}

go 1.26

require (
	github.com/99designs/gqlgen v0.17.66
	github.com/danielgtaylor/huma/v2 v2.27.0
	github.com/go-chi/chi/v5 v5.1.0
	github.com/togo-framework/togo v0.18.0
	modernc.org/sqlite v1.34.1
)
