name: {{.App}}
module: {{.Module}}

database:
  driver: {{.DBDriver}}
  url: ${DATABASE_URL}

api:
  graphql: /graphql
  rest: /api
  docs: /docs

auth:
  provider: supabase

frontend:
  dir: web

plugins: []
